<h2>All the World's Articles</h2>
<%= link_to image_tag('add.png'), new_article_path %>
<%= link_to 'New Article', new_article_path, title: "Create a new article" %>

<table>
  <tr>
    <th class="title">Title</th>
    <th class="author">Author Name</th>
    <th class="body">Body</th>
    <th class="time">Creation Date</th>
    <th class="list_actions"></th>
  </tr>
  <div class="scroll">
  <% @articles.each do |article| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="title"><%= article.title %></td>
      <td class="author"><%= article.author %></td>
      <td class="body"><%= display_beginning(article.body) %></td>
      <td class="time"><%= article.created_at.strftime("%A, %b. %d %Y") %></td>
      <td class="list_actions">
        <%= link_to image_tag('magnifier.png'), article, title: "Display Article" %>
        <%= link_to image_tag('table_edit.png'), edit_article_path(article), title: "Edit Article" %>
        <%= link_to image_tag('bin.png'), article, title: "Delete Article", confirm: 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
  </div>
</table>

<p class="num_articles"><%= pluralize(Article.get_num_rows, 'article') %></p>