%h2.page_header All the World's Authors
= link_to image_tag('add.png'), new_author_path
= link_to 'New Author', new_author_path, title: "Create a new article"
%table
  %tr
    %th
    %th Name
    %th
    %th
    %th
  - @authors.each do |author|
    %tr
      %td Place holder
      = #image_tag author.photo.url{:small}
      %td= author.name
      %td= link_to 'Show', author
      %td= link_to 'Edit', edit_author_path(author)
      %td= link_to 'Destroy', author, confirm: 'Are you sure?', method: :delete
