%p#notice= notice
= image_tag @author.photo.url(:portrait), class: 'pic'
= link_to 'Edit', edit_author_path(@author)
|
\#{link_to 'Back', authors_path}
%p
  %b Name:
  = @author.name

%h3 List of Articles From This Author
.list
  %ul
    - @author.articles.each do |article|
      %li= link_to truncate_title(article.title), articles_path + "/" + article.id.to_s