!!!
%html
  %head
    %title Gamez
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #head
      \Logged in as #{link_to current_user.first_name + ' ' + current_user.last_name, edit_admin_user_path(current_user)}, admin. #{link_to 'Admin', admin_root_url} #{link_to 'Log Out', logout_path}
    %p#notice= notice
    %p#error= flash[:error]
    %h1= link_to "Gamez", namespaced_root(current_user)
    = yield