!!!
%html
  %head
    %title Gamez
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #navigation
      -if current_user
        = link_to "Edit Profile", edit_admin_user_path(:current)
        = " | "
        = link_to "Logout", logout_path
      -else
        = link_to "Register", new_admin_user_path
        = " | "
        = link_to "Login", login_path
    = yield
