!!!
%html
  %head
    %title Gamez
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p#notice= notice
    %p#error= flash[:error]
    #navigation
      -if current_user
        = link_to "List Users", admin_users_path
        = " | "
        = link_to "List Roles", admin_roles_path
        = " | "
        = link_to "Edit Profile", edit_member_user_path(:current)
        = " | "
        = link_to "Logout", logout_path
      -else
        = link_to "Register", new_user_path
        = " | "
        = link_to "Login", login_path
    = yield
