%h1 My Gamez
= link_to 'add a new game', new_member_game_path

%p.pagination= will_paginate @games
%table
  %tr
    %th Title
    %th Rating
    %th User

  - sort_games(@games).each do |game|
    %tr
      %td= link_to game.title, edit_member_game_path(game)
      %td= game.rating
      %td= display_user(game.user)

\I've created #{pluralize(@games.count, 'game')}, #{number_to_percentage(percent_rated(current_user), :precision => 0)} are rated.
	