%h1 Listing games

%table
  %tr
    %th Title
    %th Rating
    %th User
    %th
    %th
    %th

  - sort_games(@games).each do |game|
    %tr
      %td= link_to game.title, [:admin, game]
      %td= game.rating
      %td= link_to game.user.full_name, [:admin, game.user]
      %td= link_to 'Show', [:admin, game]
      %td= link_to 'Edit', edit_admin_game_path(game)
      %td= link_to 'Destroy', [:admin, game], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Game', new_admin_game_path
