%h1 Listing games

%p.pagination= will_paginate @games
%table
  %tr
    %th Title
    %th Rating
    %th User
    %th
    %th
    %th

  - sort_games(@games).each do |game|
    %tr
      %td= link_to game.title, edit_admin_game_path(game)
      %td= game.rating
      %td= link_to game.user.full_name, edit_admin_user_path(game.user)
      %td= link_to 'Destroy', [:admin, game], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Game', new_admin_game_path
