= image_tag @user.photo.url(:portrait)

%p
  %b Username:
  = @user.username
%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Email:
  = @user.email

= link_to 'Edit', edit_admin_user_path(@user)
\|
= link_to 'Back', admin_users_path
