%h1= pluralize(count_games(@games), "Total Game")

= link_to 'Add a game', new_admin_game_path

%table
  %tr
    %th Title
    %th Rating
    %th User
    %th
    %th
    %th

  - sort_games(@games).each do |game|
    %tr
      %td= link_to game.title, edit_admin_game_path(game)
      %td= game.rating
      %td= link_to display_user(game.user), edit_admin_user_path(game.user)
      %td= link_to 'Show', [:admin, game]
      %td= link_to 'Destroy', [:admin, game], :confirm => 'Are you sure?', :method => :delete