%h1 Listing roles

%p.pagination= will_paginate @roles
%table
  %tr
    %th Name
    %th Number of Users
    %th
    %th
    %th

  - sort_roles(@roles).each do |role|
    %tr
      %td= role.name
      %td= role.users.count
      %td= link_to 'Show', [:admin, role]
      %td= link_to 'Edit', edit_admin_role_path(role)
      %td= link_to 'Destroy', [:admin, role], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Role', new_admin_role_path
