%h1 Listing games

%p.pagination= will_paginate @game
%table
  %tr
    %th Title
    %th Rating
    %th User
    %th
    %th

  - sort_games(@games).each do |game|
    %tr
      %td= link_to game.title, [:member, game]
      %td= game.rating
      %td= display_user(game.user)
      -if display_edit?(game)
        %td= link_to 'Edit', edit_member_game_path(game)

%br

= link_to 'New Game', new_member_game_path
