= form_for(@article) do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title, :size => 15
  .field
    = f.label :author
    = select :article, :author_id, Author.all.collect {|author| [ author.name, author.id ]} #f.text_field :author, :size => 15
  .field
    = f.label :body
    = f.text_area :body, :cols => 75, :rows => 20
  .actions
    = f.submit :value => yield(:submit)
